<h1>Nom : <%= @author.first_name%></h1>
<h1>Prénom : <%= @author.last_name%></h1>
<h3>Email : <%= @author.email %></h3>
<h3>Age: <%= @author.age %> ans</h3>
<h3>Ville: <%= @author.city.name %></h3>
<h4>Bio : <%= @author.description %></h4>